<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee Home</title>
</head>
<body>
	<h2>Employee Management System</h2>
	<a href="add">Add Employee</a>
	<br>
	<a href="openUpdate">Update Employee</a>
	<br>
	<a href="openSearch">Search Employee</a>
	<br>
	<a href="openDelete">Delete Employee</a>
	<br>
	<a href="fetchAllEmployees">Fetch all employees</a>
	<br><br>
	<form action="login" method="post">
		<label>WebId :</label>
		<input type="text" name="webId">
		<br>
		<label>WebName :</label>
		<input type="text" name="webName">
		<input type="submit" value="LOGIN">
	</form>
</body>
</html>